
/* ----- NAV --------*/
.nav-link-wrapper{
    height: 40px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

nav{
    display:flex;
    justify-content: space-between;
    padding: 38px;
}

nav > .nav-rightside > div{
    margin-right: 20px;
    font-size: 38px;
}

.nav-rightside{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition:  color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
    color: black;
}

.brand a{
    font-family: 'Italianno', cursive;
    font-size: 60px;
    color: black;
    text-decoration: none;
}
/* ----- NAV END--------*/


button{
    width: 200px;
    height: 40px;
    text-align: center;
}

.knapper{padding-bottom: 10px;}

main{
    display:flex;
    flex-direction: column;
}

.kalender{
    border: 1px Solid black;
}